# Hostinger FTP Credentials Example
FTP_HOST=82.25.67.235
FTP_PORT=21
FTP_USER=u990851286
FTP_PASS=sua_senha_aqui
FTP_BASE_DIR=/domains/marcelowebdesigner.com.br/public_html
PUBLIC_BASE_URL=https://www.marcelowebdesigner.com.br
